* {
    box-sizing: border-box;
}

select {
    margin-top: 5px;
    margin-bottom: 5px;
}

div {
    margin-top: 3px;
    margin-bottom: 3px;
}

div.card:hover {
    cursor: pointer;
}

.information {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.information > .card {
    margin: auto;
}

#staffInfor {
    text-align: center;
}

.card-title {
    padding-left: 10px;
    font-size: large;
    font-weight: bold;
}

.information .card-title {
    padding-left: 0;
}

div select:nth-child(2) {
    margin-left: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    div select:nth-child(1) option:nth-child(1) {
        display: none;
    }
}

@media only screen and (max-width: 767.9px) {
    div select:nth-child(1) option:nth-child(1) {
        display: none;
    }
    div select:nth-child(1) option:nth-child(2) {
        display: none;
    }
}
