.navbar-dark {
    background-color: #cb5601;
}

div.card:hover {
    cursor: pointer;
}

div.card {
    background-color: #e7e5e4;
}

.card i {
    color: red;
}

div.border-3 {
    background-color: #d4d2d0;
}

a {
    text-decoration: none;
    color:blue;
}

.card-title {
    color:black;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #ffe1cc;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.blockquote-footer {
    position: relative;
    top: 20px;
}

@media screen and (min-width: 992px) {
    .collapse {
        display: flex;
        justify-content: end;
    }
}